<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://ironsummitmedia.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Amer</h1>
                    <hr class="small">
                    <span class="subheading">Parce qu'on a tous besoin d'exprimer notre amertume.</span>
                    <%= link_to 'New Amertume', new_amertume_path %>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% @amertumes.each do |amertume| %>
            <div class="post-preview">
                <%= link_to amertume do %>
                    <h2 class="post-title">
                        <%= amertume.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= amertume.content %>
                    </h3>
                <% end %>

                <p class="post-meta">Posted by <%= amertume.user.email if amertume.user %> on <%= amertume.created_at %></p>
            </div>
            <hr>
            <% end %>
            
            <!-- Pager -->
            
        </div>
    </div>
</div>


